[buildout]
develop = .
parts = test
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
versions = versions

[versions]
zope.app.component =

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.component [test, back35]
       zope.app.layers     # the utter braindeadness of either setuptools or
       zope.app.securitypolicy # buildout requires me to state these
       zope.testbrowser    # dependencies again, here, I don't know why
defaults = ['-m', 'zope.app.component']
